<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\"
    enctype=\"application/x-www-form-urlencoded\"> <html>

<body>
    <form name='paymentForm' method='post' action='https://uat.mepsfpx.com.my/FPXMain/seller2DReceiver.jsp'><input
            type='hidden' name='fpx_msgType' value='AR' /><input type='hidden' name='fpx_msgToken' value='01' /><input
            type='hidden' name='fpx_sellerExId' value='EX00011685' /><input type='hidden' name='fpx_sellerExOrderNo'
            value='T16021584837993AF' /><input type='hidden' name='fpx_sellerTxnTime' value='20201008200129' /><input
            type='hidden' name='fpx_sellerOrderNo' value='T16021584837993AF' /><input type='hidden' name='fpx_sellerId'
            value='SE00013181' /><input type='hidden' name='fpx_sellerBankCode' value='01' /><input type='hidden'
            name='fpx_txnCurrency' value='MYR' /><input type='hidden' name='fpx_txnAmount' value='10' /><input
            type='hidden' name='fpx_buyerEmail' value='muthu@gmail.com' /><input type='hidden' name='fpx_buyerName'
            value='muthu' /><input type='hidden' name='fpx_buyerBankId' value='TEST0021' /><input type='hidden'
            name='fpx_buyerBankBranch' value='' /><input type='hidden' name='fpx_buyerAccNo' value='' /><input
            type='hidden' name='fpx_buyerId' value='' /><input type='hidden' name='fpx_makerName' value='' /><input
            type='hidden' name='fpx_buyerIban' value='' /><input type='hidden' name='fpx_productDesc'
            value='sample production' /><input type='hidden' name='fpx_version' value='7.0' /><input type='hidden'
            name='fpx_checkSum'
            value='76319d4a95d10703062783fb2f6e8c742b6cff0cc8f5a7a3f5c39c3ebdb7673473e5bc71080d11171d7adc824c032d7ab7108ae765b1fcf4be30d20717ff05709cd93354673a7ecbab9ee17a8df0be0fcc65490060b7b4e44735de37795daf1924f0207c52dc6dd71b8b95404b37c8bb406d92b8a49202644de33b4c7c396cf92dd30bb38519ac6f5b93f1d5e48bb4dca1dda38392b82ca8c9bcef1085feac20efb67e3bd691c0879d910aa46f4988f2a304290cd07b6e2e30c4274edd11d0e7c7ede5a34e4f5bf11738fc7d87f5380ef4a4a1f4f97284c47e2f64e99c58de13894e83f12ee10adbe893e8e91b81b5ca3274c854a2cc2568ae24a609fa60fc58' /><input
            type='submit' value='Click To Pay' /></form>
    <script>
        document.paymentForm.submit();
    </script>
</body>

</html>